[submodule "Software_Verification_Program_Synthesis"]
	path = Software_Verification_Program_Synthesis
	url = git@github.com:ivan-ristovic/Program-Synthesis-Paper.git
[submodule "Data_Mining_Million_Songs_Dataset"]
	path = Data_Mining_Million_Songs_Dataset
	url = git@github.com:ivan-ristovic/MSD-mining.git
[submodule "Automated_Reasoning_BDD"]
	path = Automated_Reasoning_BDD
	url = git@github.com:ivan-ristovic/BDD.git
[submodule "Algorithm_Construction_And_Analysis_2_Fibonacci_Heap"]
	path = Algorithm_Construction_And_Analysis_2_Fibonacci_Heap
	url = https://github.com/ivan-ristovic/fheap
[submodule "Information_Systems_Sports_Club"]
	path = Information_Systems_Sports_Club
	url = https://github.com/ivan-ristovic/sports-club
